.env
.idea/
Note.txt
examples/__pycache__
app/schema/transcription/__pycache__/
app/schema/language/__pycache__/
app/schema/segment/__pycache__/
app/schema/vad/__pycache__/
app/utils/__pycache__/
app/utils/language_detect/__pycache__/
app/services/vad/pyannote/__pycache__