transformers==4.41.2
tiktoken==0.9.0
# For language detection
pycld2==0.42
# Cuda
Cython==3.2.0
cuda-python==13.0.2
# Audio
soundfile==0.13.0
torchaudio==2.11.0
torchcodec==0.11.1
# Detect audio
python-magic==0.4.27